<mat-card>
<table class="table table-bordered  mb-4 mb-md-0 text-center
">
    <thead>
        <tr>
            <th>Sr.No</th>
            <th>Fullname</th>
            <th>Email</th>
            <th>contact</th>
            <th>IsActive</th>
            <th>Edit</th>
            <th>Remove</th>

        </tr>
    </thead>
    <tbody *ngIf="stdsArr.length>0;else noTable" class="text-center">
        <tr *ngFor="let std of stdsArr; index as i ">
            <td>{{i+1}}</td>
            <td>{{std.Fullname}}</td>
            <td>{{std.Email}}</td>
            <td>{{std.contact}}</td>
            <td>
                <span class="badge text-white p-3" [ngClass]="{
                    'bg-success':std.IsActive,
                    'bg-danger':!std.IsActive
                    }">
                    {{std.IsActive?'yes':'No'}}
                    </span>
                    </td>
            <td>
           <button (click)="onEdit(std)" mat-mini-fab color="primary" class="mr-2"><mat-icon>edit</mat-icon></button>

            </td>
            <td>
                <button (click)="onRemove(std.id)" mat-mini-fab color="warn"><mat-icon>delete</mat-icon></button>
            </td>


        </tr>
    </tbody>
</table>
<ng-template #noTable>
        <p class="alert alert-info">No Student Added Yet !!!</p>
    </ng-template>
    </mat-card>