<div class="card mb-4 mb-md-0">
    <div class="card-body">
        <h4 class="text-center">
            {{isInEditMode ? 'Update':'Add Todo'}}
        </h4>
        <form #todoForm="ngForm" (ngSubmit)="onTodoSubmit()">
            <div class="form-group">
                <label for="todoItem">todo Item</label>
                <input name="todoItem" required ngModel type="text" class="form-control">
            </div>


            <button type="submit" [disabled]="todoForm.invalid" *ngIf="!isInEditMode" mat-raised-button color="primary"
                class="w-100">Add Todo</button>
            <button (click)="onUpdate()" type="button" *ngIf="isInEditMode" mat-raised-button color="warn" class="w-100">Update</button>
        </form>
    </div>
</div>